<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav>
      <li><a href="/">Home</a></li>
      <li><a href="/login">Login</a></li>
      <li><a href="/index">Sign Up</a></li>
      <li><a href="/userprofilenew">My Profile</a></li>
          <form action="/logout" method="post">
              <input type = "submit" value="logout">
          </form>
    </nav>
 

  <%= yield %>
  </body>
</html>
