<h3>Sign Up</h3>

<form action = "/create_newprofile" method ='post'>
<div>	
	Username: <input type="text" name="username">
	Password: <input type="text" name="password">
</div>

<div>
	Location: <input type="text" name="location">
	Hobby:<input type="text" name="hobby">
	<input type="submit">
</div>
</form>